html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

figure {
    margin: 0px;
}

a {
    color: var(--bs-dark);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--bs-red);
}

.track-link {
    color: var(--bs-dark) !important;
    font-weight: bold;
    text-decoration: none;
}

.track-link:hover {
    text-decoration: underline;
    color: var(--bs-red) !important;
}

.card {
    --bs-card-border-width: 0px;
}

.figure-img {
    margin: 0px;
}

.content {
    display: table-cell;
    vertical-align: top;
}

.page-heading {
    margin: 0;
    padding: 0;
}

.page-heading-link {
    color: var(--bs-black);
    text-decoration: none !important;
}

.hover-color:hover {
    color: var(--bs-red) !important;
}

td {
    vertical-align: middle;
}

.context-menu {
    position: fixed;
    z-index: 1031;
}

#playerBar {
    opacity: 0.90;
}

#liveToast {
    opacity: 0.90;
    z-index: 1031;
}

.right-0 {
    right: 0 !important;
}

#app {
    height: 100%;
}