@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

figure {
    margin: 0px;
}

a {
    color: var(--bs-dark);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--bs-red);
}

caption {
    padding-top: 0;
}

.keypress {
    --bs-border-opacity: 1;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-color: rgba(var(--bs-white-rgb), var(--bs-border-opacity)) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    border-radius: var(--bs-border-radius) !important;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.keypress-dark {
    --bs-border-opacity: 1;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    border-radius: var(--bs-border-radius) !important;
    margin-left: 0.15rem !important;
    margin-right: 0.15rem !important;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.accordion-button::after {
    background-image: unset !important;
}

.progress {
    cursor: pointer;
    --bs-progress-height: 0.75rem;
}

.track-link {
    color: var(--bs-dark) !important;
    font-weight: bold;
    text-decoration: none;
}

.track-link:hover {
    text-decoration: underline;
    color: var(--bs-red) !important;
}

.card {
    --bs-card-border-width: 0px;
}

.figure-img {
    margin: 0px;
}

.content {
    display: table-cell;
    vertical-align: top;
}

.page-heading {
    margin: 0;
    padding: 0;
}

.page-heading-link {
    color: var(--bs-black);
    text-decoration: none !important;
}

.hover-color:hover {
    color: var(--bs-red) !important;
}

td {
    vertical-align: middle;
}

.context-menu {
    position: fixed;
    z-index: 1031;
}

.online {
    background-color: var(--bs-success) !important;
    border-color: var(--bs-success) !important;
    border-radius: 100% !important;
    border: 8px solid rgba(0, 0, 0, 0.25);
}

#playerBar {
    opacity: 0.95;
}

.right-0 {
    right: 0 !important;
}

#app {
    height: 100%;
}

.toast-container {
    z-index: 1051;
}